In [1]:
%%init_spark
launcher.jars = ["libs/kensu-dam-spark-collector-0.17.2_spark-3.0.1.jar"]

In [ ]:
val week = "week1"

Intitializing Scala interpreter ...

In [ ]:
val df_customer = spark.read.option("inferSchema","true").option("header","true").csv(s"./data/${week}/custinfo.csv")

In [ ]:
val df_transaction = spark.read.option("inferSchema","true").option("header","true").csv(s"./data/${week}/transactions.csv")

In [ ]:
val df_join = df_customer.join(df_transaction, df_customer("id") === df_transaction("id"),"inner").drop(df_transaction("id"))

In [ ]:
df_join.count()

In [ ]:
df_join.write.mode("overwrite").save(s"./data/${week}/joined_data")

In [ ]:
val df = spark.read.option("inferSchema","true").option("header","true").load(s"./data/${week}/joined_data")

In [ ]:
df.show()

In [ ]:
df.createOrReplaceTempView("df")

In [ ]:
val Total_DF = spark.sql("SELECT id,price,quantity,round(price * quantity,2) AS total FROM df")

In [ ]:
Total_DF.show()

In [ ]:
Total_DF.write.mode("overwrite").save(s"./data/${week}/data_total")