In [5]:
import urllib3
urllib3.disable_warnings()

from kensu.utils.kensu_provider import KensuProvider
process = 'Test'
project = 'Test'
env = 'Lab'
user = 'Sammy'

k = KensuProvider().initKensu(process_name= process,
                            user_name= user, code_location='https://gitlab.example.com',
                            project_names=[project], environment= env, pandas_support=True, sklearn_support=False,
                                tensorflow_support=False, bigquery_support=False,pyspark_support=False,logical_naming = 'File',allow_reinit = True,report_to_file=True, offline_file_name = 'test.log')




import kensu.pandas as pd

In [6]:
!cat test.log

{"action": "add_entity", "entity": "PHYSICAL_LOCATION", "generatedEntityGUID": "empty", "schemaVersion": "0.1", "jsonPayload": {"name": "Unknown", "lat": 0.12341234, "lon": 0.12341234, "pk": {"city": "Unknown", "country": "Unknown"}}, "context": {"clientId": "", "clientEventTimestamp": 1634718258066, "serverReceivedTimestamp": 1634718258066}}
{"action": "add_entity", "entity": "USER", "generatedEntityGUID": "empty", "schemaVersion": "0.1", "jsonPayload": {"pk": {"name": "Sammy"}}, "context": {"clientId": "", "clientEventTimestamp": 1634718258067, "serverReceivedTimestamp": 1634718258067}}
{"action": "add_entity", "entity": "CODE_BASE", "generatedEntityGUID": "empty", "schemaVersion": "0.1", "jsonPayload": {"pk": {"location": "https://gitlab.example.com"}}, "context": {"clientId": "", "clientEventTimestamp": 1634718258067, "serverReceivedTimestamp": 1634718258067}}
{"action": "add_entity", "entity": "CODE_VERSION", "generatedEntityGUID": "empty", "schemaVersion": "0.1", "jsonPayload": {"pk": {"version": "f0d23e65695051f8d5ee2a1cdbd2c8a810b4c99d (dirty)", "codebaseRef": {"byGUID": "k-037fc028d7a5d8289ea29b142ff93c9573349fd9f06f0b57a3b50673493609be"}}, "maintainersRefs": [{"byGUID": "k-8ed2f61c50b4a6ef255dca966319909a34081197799bb1ed590575b3be83d6c2"}]}, "context": {"clientId": "", "clientEventTimestamp": 1634718258232, "serverReceivedTimestamp": 1634718258232}}
{"action": "add_entity", "entity": "PROCESS", "generatedEntityGUID": "empty", "schemaVersion": "0.1", "jsonPayload": {"pk": {"qualifiedName": "Test"}}, "context": {"clientId": "", "clientEventTimestamp": 1634718258232, "serverReceivedTimestamp": 1634718258232}}
{"action": "add_entity", "entity": "PROJECT", "generatedEntityGUID": "empty", "schemaVersion": "0.1", "jsonPayload": {"pk": {"name": "Test"}}, "context": {"clientId": "", "clientEventTimestamp": 1634718258232, "serverReceivedTimestamp": 1634718258232}}
{"action": "add_entity", "entity": "PROCESS_RUN", "generatedEntityGUID": "empty", "schemaVersion": "0.1", "jsonPayload": {"pk": {"processRef": {"byGUID": "k-8891cdf9906e834e51a98cd95cce16f0618e282f6e7f6bb305594e98ac7b828d"}, "qualifiedName": "Test@2021-10-20T10:24:18.231876"}, "launchedByUserRef": {"byGUID": "k-8ed2f61c50b4a6ef255dca966319909a34081197799bb1ed590575b3be83d6c2"}, "executedCodeVersionRef": {"byGUID": "k-60f44b0441995de0d5f26164a61ddf3ed8c5bb9215d1b33f50d5955318789f3d"}, "environment": "Lab", "projectsRefs": [{"byGUID": "k-fc84eb68fb9d6c3b15e15741d19408fc29ceaba71261d9b119c02533cc84314e"}]}, "context": {"clientId": "", "clientEventTimestamp": 1634718258232, "serverReceivedTimestamp": 1634718258232}}

In [14]:
k.default_physical_location

{'lat': 0.12341234,
 'lon': 0.12341234,
 'name': 'Unknown',
 'pk': {'city': 'Unknown', 'country': 'Unknown'}}

In [10]:
data = pd.read_csv('data/rawdata/jan/customer.csv')

In [17]:
data

,Loan_ID,LoanAmount,Loan_Amount_Term,Credit_History,Self_Employed,ApplicantIncome,CoapplicantIncome,Gender,Dependents,Married,Education,First_name,Last_name,Nationality,Property_Area,Loan_Status
0,LPP002991,145.0,360.0,1.0,No,5849,0.0,Male,0,No,Graduate,Anthony,Larsen,Mauritius,Urban,Y
1,LPP002992,128.0,360.0,1.0,No,4583,1508.0,Male,1,Yes,Graduate,Robert,Shaw,Cyprus,Rural,N
2,LPP002993,66.0,360.0,1.0,Yes,3000,0.0,Male,0,Yes,Graduate,Amanda,Wilkinson,Montenegro,Urban,Y
3,LPP002994,120.0,360.0,1.0,No,2583,2358.0,Male,0,Yes,Not Graduate,Tiffany,Carr,Belarus,Urban,Y
4,LPP002995,141.0,360.0,1.0,No,6000,0.0,Male,0,No,Graduate,Jared,Glenn,Venezuela,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676,LPP003667,165.0,180.0,0.0,Yes,2609,3449.0,Male,0,Yes,Not Graduate,Emily,Holland,Australia,Rural,N
677,LPP003668,145.0,360.0,0.0,No,4945,0.0,Male,1,Yes,Graduate,Emma,Beard,South Georgia and the South Sandwich Islands,Rural,N
678,LPP003669,116.0,360.0,0.0,No,4166,0.0,Female,0,No,Graduate,Eric,Hughes,United Kingdom,Semiurban,N
679,LPP003670,258.0,360.0,1.0,No,5726,4595.0,Male,0,Yes,Graduate,Kevin,Duffy,Jersey,Semiurban,N
680,LPP003671,126.0,180.0,0.0,No,3200,2254.0,Male,0,No,Not Graduate,Elizabeth,Randall,Montserrat,Urban,N

In [ ]:
columns_to_remove = ['Gender','First_name','Last_name','Nationality']

In [ ]:
data_to_save = data.drop(columns_to_remove,axis=1)
data_to_save['Credit_History'] = data_to_save['Credit_History'] - data_to_save['Credit_History']

In [ ]:
data_to_save.to_csv('data/datalake/jan/customer_prod.csv',index=False)

In [ ]:
k = KensuProvider().initKensu(api_url=ingestion_url, auth_token=ingestion_token, process_name= process,
                            user_name= user, code_location='https://gitlab.example.com',
                            project_names=[project], environment= env, pandas_support=True, sklearn_support=False,
                                tensorflow_support=False, bigquery_support=False,pyspark_support=False,logical_naming = 'File',allow_reinit = True)



data = pd.read_csv('data/rawdata/feb/customer.csv')
v= set(data.columns)
columns_to_remove = ['Gender','First_name','Last_name','Nationality']
data_to_save = data.drop(columns_to_remove,axis=1)
data_to_save.to_csv('data/datalake/feb/customer_prod.csv',index=False)